body{
	background-image: url('../image/index.jpg');
}
header{
	background-image: url('../image/facin2.jpg');
	text-align: center;
	font-family: Matura MT Script Capitals;
	font-size: 30px;
	border-radius: 150px;
	border-style: double;
	width: 70%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}
nav{
	background-color: MediumTurquoise;
	border-radius: 10px;

}
nav ul li{	
	font-family: Matura MT Script Capitals;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
}
nav ul li:hover{
	background: white;
}
nav ul li a:link{
	color: black;	
}
nav ul li a:visited{
	color: blue;
}
aside{ 
	background-color: rgba(0,0,0,0.7);
	font-family: Matura MT Script Capitals;
	width: 20%;
	float: right;
	border-radius: 10px;
	text-decoration: none;
}
.process{
	background-color: white;
	border-radius: 10px;
	width: 90%;
	margin-left: 5%;
}
aside ul li:hover{
	color: orange;
}
aside ul li a:link{
	color: black;	
}
aside ul li a:visited{
	color: blue;
}
section{
	background-color: rgba(33, 215, 129,0.7);
	font-family: Matura MT Script Capitals;
	width: 75%;
	border-radius: 10px;
	padding: 5px 10px;
}
.image{
	text-align: center;	
}
footer{
	background-color: SpringGreen; 
	font-family: Matura MT Script Capitals;
	border-radius: 10px;
	width: 25%;
	text-align: left;
	}
