body{
	background-image: url('../image/index.jpg');
}
header{
	background-image: url('../image/facin2.jpg');
	text-align: center;
	font-family: Matura MT Script Capitals;
	font-size: 30px;
	border-radius: 150px;
	border-style: double;
	width: 70%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}
nav{
	background-color: MediumTurquoise;
	border-radius: 10px;

}
nav ul li{	
	font-family: Matura MT Script Capitals;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
}
nav ul li:hover{
	background: white;
}
nav ul li a:link{
	color: black;	
}
nav ul li a:visited{
	color: blue;
}
aside{ 
	background-color: rgba(0,0,0,0.7);
	font-family: Matura MT Script Capitals;
	width: 100%;
	float: right;
	border-radius: 10px;
}
ul li{
	list-style: none;
}
.sidebar li a{
	background-color: white;
	border-radius: 10px;
	width: 18%;
	font-size: 25px;
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
	margin-left: 70%;
	margin-right: 80%;

}
.sidebar > li{
	float: left;
}
.sidebar li ul{
	display: none;
	position: absolute;
	min-width: 14px;
}
.sidebar li:hover > ul{
	display: block;
}
.sidebar ul li a:hover{
	color: orange;
}
aside ul li a:link{
	color: black;	
}
aside ul li a:visited{
	color: blue;
}
section{
	background-color: rgba(33, 215, 129,0.7);
	font-family: Matura MT Script Capitals;
	font-size: 20px;
	width: 90%;
	border-radius: 10px;
	margin-top: 17%;
	padding: 5px 10px;
}
footer{
	background-color: SpringGreen; 
	font-family: Matura MT Script Capitals;
	border-radius: 10px;
	width: 25%;
	text-align: left;
}
.boton{
	width: 90%;
	margin-top: 40px;
}
input{
	font-family: Matura MT Script Capitals;
	border-radius: 10px;
	margin-left: 60%;
	float: right;
	margin-right: 45%;
	width: 50%;
	margin-top: 5px;
	font-size: 15px;
}
#boton{
	width: 30%;
	font-size: 20px;
	margin-top: 30px;
	margin-left: auto;
}
table, td{
	border:3px black solid;
	text-align: center;
	margin: auto;
	margin-top: 50px;

}
