body{
	background-image: url('../image/index.jpg');
}
header{
	background-image: url('../image/facin2.jpg');
	text-align: center;
	font-family: Matura MT Script Capitals;
	font-size: 30px;
	border-radius: 150px;
	border-style: double;
	width: 70%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}
nav{
	background-color: MediumTurquoise;
	border-radius: 10px;

}
nav ul li{	
	font-family: Matura MT Script Capitals;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
}
nav ul li:hover{
	background: white;
}
nav ul li a:link{
	color: black;	
}
nav ul li a:visited{
	color: blue;
}
aside{ 
	background-color: rgba(0,0,0,0.7);
	font-family: Matura MT Script Capitals;
	width: 23%;
	float: right;
	border-radius: 10px;
}
ul li{
	list-style: none;
}
.sidebar li a{
	background-color: white;
	border-radius: 10px;
	width: 90%;
	font-size: 25px;
	display: block;
	padding: 10px 15px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
}
.sidebar > li{
	float: left;
}
.sidebar li ul{
	display: none;
	position: absolute;
	min-width: 14px;
}
.sidebar li:hover > ul{
	display: block;
}
.sidebar ul li a:hover{
	color: orange;
}
aside ul li a:link{
	color: black;	
}
aside ul li a:visited{
	color: blue;
}
section{
	background-color: rgba(33, 215, 129,0.7);
	font-family: Matura MT Script Capitals;
	font-size: 20px;
	width: 75%;
	border-radius: 10px;
	padding: 5px 10px;
}
.image{
	text-align: center;	
}
footer{
	background-color: SpringGreen; 
	font-family: Matura MT Script Capitals;
	border-radius: 10px;
	width: 25%;
	text-align: left;
}
.boton{
	width: 90%;
	margin-top: 20px;
	margin-left: 60px;
}
input{
	font-family: Matura MT Script Capitals;
	border-radius: 10px;
	margin-left: 30px;
	float: right;
	margin-right: 50%;
}
#boton{
	font-size: 15px;
	margin-top: 20px;
	margin-left: 5%;
}
article{
	margin: 20px;
}
table, td{
	border:3px black solid;
	text-align: center;
	margin: auto;
}
